/* styles.css */
body {
  background: rgb(22, 18, 241);
}
.price-cards {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 20px;
  background: white;
  position: relative;
  gap: 15px;
}
.price-card P {
  background: white;
  text-align: center;
}
.price-card hr {
  color: rgba(0, 0, 0, 0.524);
}

.price-card {
  text-align: start;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 270px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.029);
  /* color: rgba(0, 0, 0, 0.307); */
}

.price-card h2 {
  margin-bottom: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.plans {
  margin-bottom: 20px;
  background: white;
}

.subscribe-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 70px;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  margin-left: 50px;
}

.subscribe-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .price-cards {
    flex-direction: column;
    align-items: center;
  }
}

.price-card h5 {
  display: flex;
  align-items: center;
}

.price-card h5 span {
  margin-right: 5px;
}
.price-card h5 span {
  color: #666;
}

.price-card h5 span[style*="#000"] {
  color: #000; 
}
