/* styles.css */
body {
  background: rgb(22, 18, 241);
}
.price-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: white;
  position: relative;
  gap: 15px;
}
.price-card P {
  background:white;
}

.price-card {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.price-card h2 {
  margin-bottom: 15px;
  /* color: white; */
}

.plans {
  margin-bottom: 20px;
  background: white;
}

.subscribe-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.subscribe-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .price-cards {
    flex-direction: column;
    align-items: center;
  }
}
