body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: ;
}

.countdown, .independence-day {
  text-align: center;
}

#countdownDisplay, #independenceDayDisplay {
  font-size: 3em;
}
